<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>RestrantSample</servlet-name>
		<servlet-class>net.infopeers.restrant.ControllerServlet</servlet-class>
		<init-param>
			<!-- root package implements of controllers -->
			<param-name>RootPackage</param-name>
			<param-value>net.infopeers.restrant.sample.controller</param-value>
		</init-param>

		<init-param>
			<!-- Route info as RoR. Implements interface Route. -->
			<param-name>RouteClass</param-name>
			<param-value>net.infopeers.restrant.sample.Route</param-value>
		</init-param>

		<init-param>
			<!-- Controller as a JavaScript Service Object -->
			<param-name>ServiceJs</param-name>
			<param-value>/service.js</param-value>
		</init-param>
		
		<init-param>
			<!-- Request parameter's encoding -->
			<param-name>Encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		
		<!-- Route info as RoR. order by RouteFormat[No] -->
		<init-param>
			<param-name>RouteFormat0</param-name>
			<param-value>/:controller/args/:id :action=post</param-value>
		</init-param>
		<init-param>
			<param-name>RouteFormat5</param-name>
			<param-value>/:controller?id=:id :action=put</param-value>
		</init-param>
		<init-param>
			<param-name>RouteFormat10</param-name>
			<param-value>/test/:action/:id :controller=samples</param-value>
		</init-param>
		<init-param>
			<param-name>RouteFormat20</param-name>
			<param-value>/:controller/:action/:id</param-value>
		</init-param>
		<init-param>
			<!-- @restful makes RESTFUL action(get post put delete) -->
			<param-name>RouteFormat30</param-name>
			<param-value>/:controller/:id @restful</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestrantSample</servlet-name>
		<url-pattern>/samples</url-pattern>
		<url-pattern>/service.js</url-pattern>
		<url-pattern>/jsservice/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
